/* Hide row templates so they can be duplicated in dynamic forms. */
.row-template { display: none; }

/* Make rows display block-wise. */
.row { display: block; }

/* Don't let the user function picker get too wide (yucky, but HTML select doesn't have a width
attribute). */
#edit-user-function { width: 120pt; }

/* Top-align the user function and user function arguments. */
fieldset#user-function-translation div { vertical-align: top; }
fieldset#user-function-translation div.container-inline * { margin-top: 0; }

/* Let the user function arguments fieldset appear to the right of the user function instead of
below it. */
fieldset#user-function-arguments { display: inline; }

/* Re-specify hidden status for the row template inside the function arguments fieldset (yuck). */
fieldset#user-function-arguments div.row-template { display: none }

/* Re-specify block display for rows inside function arguments fieldset (also yuck -- probably I
don't understand style cascading. */
fieldset#user-function-arguments div.row { display: block; }

/* Cancel inline display for the "Add Argument" button. */
#edit-user-function-arguments-add-button { display: block; }
